<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- 转义日志中的回车换行符 -->
    <conversionRule conversionWord="crlf" converterClass="org.owasp.security.logging.mask.CRLFConverter"/>

    <!-- 转义异常堆栈中的回车换行符 -->
    <conversionRule conversionWord="ex" converterClass="org.owasp.security.logging.mask.CRLFThrowableConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] [%X{traceId}] %logger.%method[%L]: %crlf(%message) %ex %n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>